@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* GLOBAL STYLES */

:root {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

body {
    overflow-x:hidden;
	padding: 0;
	margin: 0;
}

/* FIRST-SECTION */

.first-page {
	background-image: url("../images/ring-background.png");
	width: 100%;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.first-page__overlay {
	background-color: rgba(57, 55, 55, 0.32);
	width: 100%;
	min-height: 100vh;
}

/* HEADER */

.main-logo {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 3.614rem;
	line-height: 127.8%;
	color: #DEE6ED;
	margin-left: -17rem;
}

.top-container {
	padding-top: 1.2rem;
	width: 63%;
	margin: 0 auto;
}

.topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header {
	margin-bottom: 3.1rem;
}

.header-left a { 
	padding-right: 6.8rem;
	display: inline;
}

.header-left a:nth-child(3)
{
	padding-right: 0;
}

.portuguese {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 1.6rem;
	vertical-align: middle;
	color: #FFFFFF;
}

#customer {
	width: 3rem;
	height: 2.6rem;
}

#search {
	width: 3rem;
	height: 2.6rem;
}

#shopping {
	width: 3rem;
	height: 2.6rem;
} 

#lang {
	width: 3rem;
	height: 2.6rem;
	display: inline;
	vertical-align: middle;
}

.lang-dropdown {
	background-color: transparent;
	border: none;
	color: transparent;
}

/* NAVBAR */

.navbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 3.5rem;
}

.navbar li {
	list-style-type: none;
	font-style: normal;
	font-size: 2rem;
}

.navbar a {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.4rem;
	text-decoration: none;

}

/* CAROUSEL */

.carousel {
	font-family: 'Playfair Display', serif;
	position: absolute;
	left: 18.75%;
	top: 20%;
	margin-top: 6rem;
}

h1 {
	color:#DEE6ED;
	font-style: normal;
	font-weight: 400;
	font-size: 6.5rem;
	line-height: 8.3rem;
	margin-bottom: 4.9rem;
}

h2 {
	color: #E9E2E2;
	font-style: normal;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 159.12%;
}

.media-icons button {
	display: inline;
	background: none;
	border: none;
	color: #E9E2E2;
	font-family: 'Montserrat', sans-serif;
	text-decoration: underline;
	margin-top: 5.8rem;
}

button.youtube-button {
	margin-right: 6.5rem;
}

#instagram {
	vertical-align: middle;
}

#youtube {
	vertical-align: middle;
}

/* SECOND SECTION */

.second-page {
	background-image: url("../images/girl-background.png");
	width: 100%;
	min-height: 100vh;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

button.play {
	position: absolute;
	right: 3%;
	top: 6%;
	border: none;
	background-color: transparent;
}

button.play h3 {
	display: inline;
	color: black;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}

button.play img {
	vertical-align: middle;
}

/* THIRD SECTION */

.third-page {
	display: grid;
	grid-template-columns: 37.6% 62.4%;
	background-color: #C4C4C44F;
}

.third-page__address {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.third-page__address h3 {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 29px;
	line-height: 39px;
	color: #393737;
}

.third-page__map {
	position: relative;
}

#map {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	min-height: 100vh;
}

#pin {
	position: absolute;
	top: 34%;
	left: 52%;	
}

/* ADDRESS DROPDOWN */

.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 12.56rem;
	margin-left: 12rem;
}

.dropdown__content {
	display: none;
	position: absolute;
}

.dropdown__content a {
	color: rgba(0, 0, 0, 0.5);
	display: block;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2.4rem;
	line-height: 32px;
	text-decoration: none;
	width: 100%;
}

.dropdown__button {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	border: none;
	background-color: transparent;
	font-variant: small-caps;
	color: rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown__content {
	display: block;
}

.dropdown__div {
	padding-bottom: 0.9rem;
}

button.dropdown.img {
	display: inline;
}

button.find-button {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18.1818px;
	line-height: 2.4rem;
	font-variant: small-caps;
	color: #393737;
	padding: 1rem 7.1rem 1.9rem 7.1rem;
	background-color: transparent;
	border: 0.1rem solid #393737;
}

.scroll {
	width: 100%;
}

.scroll button {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 24.4898px;
	line-height: 33px;
	font-variant: small-caps;
	color: rgba(0, 0, 0, 0.61);
	border: none;
	background-color: transparent;
	display: block;
	margin: 0 auto;
}

#scroll-icon {
	display: block;
	height: 11.65px;
	width: 25.13px;
	margin: 0 auto;
	margin-top: 2.03rem;
}

/* FOURTH SECTION */

.fourth-page {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 37.6% 62.4%;
	grid-template-rows: 69% 31%;
	background: #E5E5E5;
}

.fourth-page__left img {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

.fourth-page__right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.fourth-page__right button {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 37px;
	font-variant: small-caps;
	color: #000000;
	opacity: 0.8;
	width: 71.43%;
	padding: 1.2rem 10.8rem 1.7rem 10.8rem;
	border: 0.7px solid #393737;
	border-radius: 4px;
}

/* FOURTH SECTION BOTTOM BAR */

.fourth-page__bot {
	grid-column: 1 / 3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #E5E5E5;
	padding-left: 11.4rem;
	padding-right: 11.4rem;
	position: relative;
}

.bot-content img {
	color: #E5E5E5;
	margin-right: 0.8rem;
}

.bot-content__text {
	display: inline-block;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	vertical-align: top;
	color: rgba(57, 55, 55, 1);
}

.bot-content__text p:first-of-type {
	text-decoration-line: underline;
}

.arrow-buttons {
	position: absolute;
}

.left-arrow {
	left: 5%;
}

.right-arrow {
	right: 5%;
}

footer {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: rgba(0, 0, 0, 0.9);
}

.footer__left {
	grid-column: 1 / 2;
	padding-left: 12.2rem;
}

.footer__right {
	grid-column: 2 / 3;
}

.footer__left p:nth-child(2) {
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 400;
	font-size: 25px;
	line-height: 159.12%;
	color: #E9E2E2;
}

.footer-logo {
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 400;
	font-size: 36.1429px;
	line-height: 127.8%;
	color: #DEE6ED;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.footer-nav {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 25% 25% 25% 25%;
	/* row-gap: 2.4rem;
	column-gap: -5rem; */
	margin-top: 5.2rem;
}

.footer-nav > li {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #E9E2E2;
	margin-bottom: 5.4rem;
}

.footer__right > p {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 159.12%;
	color: #FFFFFF;
	margin-top: 3.7rem;
	margin-bottom: 4rem;
}

.email-form label {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 159.12%;
	color: #FFFFFF;
}

.subscribe-button {
	background: rgba(233, 226, 226, 1);
	border: 1px solid #E9E2E2;
	box-shadow: 4px 4px 4px 1px #CAC4C4;
	border-radius: 4px;
	display: block;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	font-variant: small-caps;
	color: #000000;
	opacity: 0.8;
	padding: 1.2rem 21rem 2.1rem 21rem;	
	margin-top: 8.6rem;
	margin-bottom: 6.1rem;
}

#email {
	display: block;
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	text-transform: lowercase;
	color: rgba(233, 226, 226, 0.85);
	opacity: 0.8;
	border: none;
	background-color: transparent;
	margin-top: 1.9rem;
}

label hr {
	margin-top: 1.7rem;
	width: 59.5%;
}