@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

.first-page {
	background-image: url("../images/ring-background.png");
	width: 100%;
	/* height: auto;
	min-height: 100vh;	 */
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.first-page__overlay {
	background-color: rgba(57, 55, 55, 0.32);
	width: 100%;
	min-height: 100vh;
}

body {
    overflow-x:hidden;
	padding: 0;
	margin: 0;
}

#main-logo {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 3.614rem;
	line-height: 127.8%;
	color: #DEE6ED;
	margin-left: -17rem;
}

.top-container {
	padding-top: 1.2rem;
	width: 63%;
	margin: 0 auto;
}

.topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header {
	margin-bottom: 3.1rem;
}

.header-left a { 
	padding-right: 6.8rem;
	display: inline;
}

.header-left a:nth-child(3)
{
	padding-right: 0;
}

.portuguese {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 1.6rem;
	vertical-align: middle;
	color: #FFFFFF;
}

#customer {
	width: 3rem;
	height: 2.6rem;
}

#search {
	width: 3rem;
	height: 2.6rem;
}

#shopping {
	width: 3rem;
	height: 2.6rem;
} 

#lang {
	width: 3rem;
	height: 2.6rem;
	display: inline;
	vertical-align: middle;
}

.lang-dropdown {
	background-color: transparent;
	border: none;
	color: transparent;
}

.navbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* margin-bottom: 6rem; */
	margin-top: 3.5rem;
}

.navbar li {
	list-style-type: none;
	font-style: normal;
	font-size: 2rem;
}

.navbar a {
	font-family: 'Montserrat', sans-serif;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.4rem;
	text-decoration: none;

}

.main-heading {
	font-family: 'Playfair Display', serif;
	position: absolute;
	left: 18.75%;
	top: 20%;
	margin-top: 6rem;
}

.second-page {
	background-image: url("../images/girl-background.png");
	width: 100%;
	height: auto;
	min-height: 100vh;	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



h1 {
	color:#DEE6ED;
	font-style: normal;
	font-weight: 400;
	font-size: 6.5rem;
	line-height: 8.3rem;
	margin-bottom: 4.9rem;
}

h2 {
	color: #E9E2E2;
	font-style: normal;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 159.12%;
}

.first-icons button {
	display: inline;
	background: none;
	border: none;
	color: #E9E2E2;
	font-family: 'Montserrat', sans-serif;
	text-decoration: underline;
	text-transform: capitalize;
	margin-top: 5.8rem;
}

button.youtube-button {
	margin-right: 6.5rem;
}

#instagram {
	vertical-align: middle;
}

#youtube {
	vertical-align: middle;
}

.third-page {
	width: 100%;
	clear: both;
}

.third-left {
	float: left;
	width: 40%;
}

.third-right {
	float: right;
	width: 60%;
}

#map {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	min-height: 100vh;	
}
